@font-face {
    font-family: 'solis-gaming-text';
    src: url("./static/fonts/navbar-font.ttf");
}


/* Body */

body {
    background-color: black;
}


/* Viewport */


/* .viewportDiv {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */


/* Navbar */

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: solis-gaming-text;
    font-size: 50%;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-size: 1.75rem;
}


/* Main content */

.main-content {
    background-color: red;
    /* flex-grow: 1; */
    margin-top: 7rem;
}


/* Video content */

#main-page-video {
    background-color: black;
}

#video {
    height: inherit;
}

video {
    max-height: 605px;
    width: 100%;
}

.overlay-video-scroll {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay-video-scroll-text {}

.overlay-video-scroll-heading {
    font-size: 7vw;
}


/* Description */

.description {
    margin: 10px 5px 0px 5px;
    background-color: black;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}


/* Footer */

.footer {
    margin: 10px 10px 10px 10px;
    color: white;
}

.footer-text {
    font-family: solis-gaming-text;
}


/* Special text class */

.solis-gaming {
    font-family: solis-gaming-text;
}